doctype html
html(lang='en', dir='ltr')
  head

    meta(charset='utf-8')
    meta(name = "viewpromt" content = 'width=device-width, initial-scale = 1.0')  
    link(rel='stylesheet', href='/style.css')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
    script(type='text/javascript', src='/js.js')
    
    title Магазин
    header
      #mainPage
        img.image(src='https://raw.githubusercontent.com/EgorStasevich/Json/master/logo.png' class = "logo")
      nav(class = "navbar-expand-md")
        a#heaters Главная
        a#catalog Каталог
        a#contacts Контакты
        a#account Вход
      
    body  
      block content

    footer(class="page-footer font-small teal pt-4")
          div(class="text-center text-md-left")
            div(class="row")
            div(class="col-md-5")
              ul(class="list-unstyled")
                a#asdas О компании
                
                a#asdas  /О компании
                
                a#asdas  /О компании